﻿@{
    ViewData["Title"] = "About";
}


<div class="site-blocks-cover inner-page" style="background-image: url(../images/hero_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto align-self-center">
                <div class=" text-center">
                    <h1>About Us</h1>
                    <p>pharmaM.bg is an online pharmacy with the main goal of helping our patients lead a healthier lifestyle through a different approach in providing quality services and health and beauty products at affordable prices.</p>ˀ
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="../images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">How We Started</h2>
                </div>
                <p>
                    We strive to offer responsibility, quality, speed, trust and ease in online shopping for non-prescription drugs, medical devices, nutritional supplements and cosmetics.
                </p>
                <p>
                    We offer a large selection of brands with quality products, plenty of promotions. In our person you will find respect, honest and fair service, understanding and professionalism.
                </p>

            </div>
        </div>
    </div>
</div>



<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="../images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                    </figure>
                </div>
            </div>
            <div class="col-md-5 mr-auto">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">We Are Trusted Company</h2>
                </div>
                <p class="text-black">
                    We offer a large selection of brands with quality products, plenty of promotions. In our person you will find respect, honest and fair service, understanding and professionalism.
                </p>
                <p class="text-black">
                    We strive to offer responsibility, quality, speed, trust and ease in online shopping for non-prescription drugs, medical devices, nutritional supplements and cosmetics.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck text-primary"></span>
                </div>
                <div class="text">
                    <h2>Free Shipping</h2>
                    <p>
                        Free Shipping to First-Time Customers Only:
                        Instead of offering free shipping to everyone, you can target new customers only.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2 text-primary"></span>
                </div>
                <div class="text">
                    <h2>Free Returns</h2>
                    <p>
                        Free returns can also lead to increased sales. When customers know that they can return items without any extra cost, they are more likely to make a purchase.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help text-primary"></span>
                </div>
                <div class="text">
                    <h2>Customer Support</h2>
                    <p>
                        Behind the pharmacyM.bg project are pharmacists with a total of over 150 person-years of experience and experience in practicing the pharmaceutical profession. For us, there is no answer - we will always find a solution for each specific problem!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



