@model IEnumerable<Product>

@{
    ViewData["Title"] = "Delete";
}

<form class="mt-2" asp-controller="Product" asp-action="Delete" asp-route-id="">
    <div class="d-grid gap-2">
        <input type="submit" value="Delete" class="btn btn-danger mb-2" onclick="return confirm('Are you sure you want to delete product: )" />
    </div>
</form>