@using PharmaM.Core.Models.Product;

@model IEnumerable<Product>


@{
    ViewData["Title"] = "Home Page";
}


<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Popular Products</h2>
            </div>
        </div>

        <div class="row">

           @foreach (var item in Model.Take(6))
            {
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <span class="tag">Sale</span>
                    <a asp-action="SingleProduct" asp-route-id="@item.Id">
                        <img src="@item.ImageURL" width="180" height="220" text-align="center" asp-append-version="true">
                        <h3 class="text-dark">@item.Name</h3>
                        <p class="price">BGN @item.Price</p>
                    </a>
                </div>
            }
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
                <a asp-action="Shop" class="btn btn-primary px-4 py-3">View All Products</a>
            </div>
        </div>
    </div>
</div>
